/* font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Titillium Web', sans-serif; */
body {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #02a2ff;
    --light: #c9eafd;
    --dark: #1a1a1a;
    --font: 'Inter', sans-serif;
}

.u-button-style {
    padding: 3px 10px;
    font-size: calc(1em + 6px);
}

.menu-collapse {
    font-size: 1rem;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 500;
}

.u-header {
    background-color: var(--dark);
}

.u-sidenav-overflow {
    font-size: 10px;
    font-family: var(--font);
    color: white;
    background-color: var(--dark);
}

.u-header .u-nav-2 {
    font-size: 1.2rem;
}

.u-popupmenu-items .u-nav-link {
    padding: 16px 0;
    white-space: normal;
}

.u-nav-2 li:hover {
    color: #02a2ff;
    font-weight: 1000;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.u-button-style.u-palette-1-base,
.u-button-style.u-palette-1-base[class*="u-border-"] {
    background-color: var(--dark);
}

.u-button-style .u-palette-1-base:hover {
    background-color: #1a1a1a;
}

.containe {
    width: 100%;
}

/* .left-side,
.right-side {
    width: 50%;
} */
.left {
    width: 30%;
}

.left-side .left-image {
    margin-top: 51%;
    width: 70%;
    left: 0;
}

.right-side .right-image {
    margin-left: 20%;
    width: 85%;
    position: relative;
}

.right-side .vector-image {
    top: 24%;
    left: 59%;
    position: absolute;
    width: 31%;
}

.sec-1 {
    padding-top: 3.9rem;
}

.bg-image {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    opacity: 50%;
    position: fixed;
}

.details {
    top: 30%;
    left: 10%;
    position: absolute;
}

.pera {
    margin-top: 20px;
    width: 45%;
}

.heading1 {
    /* font-size: 80px;
    font-weight: 1000;
    font-family: "Brush Script MT", cursive;
    color: var(--dark); */
    font-size: 2em;
    font-family: var(--font);
    color: var(--pure);
    line-height: 1;
    margin-bottom: 0px;
    font-weight: 1000;
}

.heading1 span {
    /* font-size: 80px;
    font-weight: 1000;
    font-family: "Brush Script MT", cursive;
    color: var(--dark); */
    font-size: 80px;
    font-weight: 500;
    /* width and color */
}



h6 {
    background:
        linear-gradient(to left,
            var(--primary),
            var(--dark)),
        linear-gradient(to left,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 32.5% 5px, 0 5px;
    background-position: 0% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

h6:hover {
    background-size: 0 5px, 32.5% 5px;
}

h6:hover .heading1 {
    background: lniear-gradient(to right, crimson, pink, springgreen);
    animation: rainbow 2s ease-in-out infinite;
}

/* tabs for slider */
.event{
    width: 90%;
    margin: 0% 5%;
}
.more-card{
   text-align: right;
}
.more-card a{
    color: var(--dark);
}
.more-card a:hover{
    text-decoration: underline;
    color: var(--light);
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.event-slider {
    padding: 3% 0%;
    height: auto;
    /* padding-bottom: 2%; */
    background-color: #86868688;
}

.tabContainer {
    padding: 0% 10%;
}

.title {
    font-family: var(--font);
    color: #dc2d5e;
    text-align: center;
}

.tabContainer {
    width: 100%;
    height: 350px;
}

.tabContainer .buttonContainer {
    height: 15%;
}

.tabContainer .buttonContainer button {
    margin-top: 11px;
    width: 20%;
    height: 80%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background-color: #eee;
    border-radius: 20px 20px 0px 0px;
    font-family: var(--font);
}

.tabContainer .buttonContainer button:hover {
    background-color: var(--light);
}

/* image gallery */
.slider {
    width: 100%;
    /* border: px solid var(--primary); */
    /* margin: 80px auto; */
    position: relative;
    overflow: hidden;
}

.slider:hover {
    box-shadow: 0px 0px 10px 1px var(--dark);

}

.slider .left-slide,
.slider .right-slide {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--dark);
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    top: 50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;

}

.slider .left-slide:hover,
.slider .right-slide:hover {
    box-shadow: 0px 0px 10px black;
    background-color: var(--primary);
}

.slider .left-slide {
    left: 30px;
}

.slider .right-slide {
    right: 30px;
}

.slider .left-slide1,
.slider .right-slide1 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--dark);
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    top: 50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;

}

.slider .left-slide1:hover,
.slider .right-slide1:hover {
    box-shadow: 0px 0px 10px black;
    background-color: var(--primary);
}

.slider .left-slide1 {
    left: 30px;
}

.slider .right-slide1 {
    right: 30px;
}

.slider .slider-items .item img {
    width: 100%;
    display: block;
    transition: all 0.3s ease;
    /* animation: zoom 1s ease; */
}

.slider .slider-items1 .item img {
    width: 100%;
    display: block;
    transition: all 0.3s ease;
    /* animation: zoom 1s ease; */
}

/* @keyframes zoom {
    0% {
        transform: scale(2);
        opacity: 0
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
} */

.slider .slider-items .item {
    display: none;
    position: relative;
}

.slider .slider-items .item .caption {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;

}

.slider .slider-items .item.active {
    display: block;
}

.slider .slider-items1 .item {
    display: none;
    position: relative;
}

.slider .slider-items1 .item .caption {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 30px;

}

.slider .slider-items1 .item.active {
    display: block;
}

.about-sec {
    width: 100%;
    height: 700px;
    padding-top: 5%;
}

.text-line img {
    width: 100%;
}

.about-detail {
    width: 100%;
    text-align: center;
}

.about-title {
    font-family: var(--font);
    font-weight: 800;
    font-size: 40px;
}


.about-pera {
    width: 100%;
    align-items: center;
}

.pera1 {
    width: 48%;
    margin: 20px 391px;
    font-family: var(--font);
    color: gray;
    font-weight: 500;
}

.pera2 {
    font-family: var(--font);
    color: var(--dark);
    font-weight: 800;
    font-size: 18px;
}

.btn-hover {
    margin-bottom: 88px;
    margin-top: 16px;
    width: 200px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    /* margin: 20px; */
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #29323c, #29323c, var(--light), #29323c, #29323c, #29323c);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

/* cards  */
.working-grp-sec {
    width: 100%;
    background-color: rgb(205, 205, 205);
    font-family: var(--font);
    /* padding: 0px 109px; */
}

.image {
    background-color: #02a2ff3a;
    width: 18rem;
    height: 155px;
    border-radius: 20px 20px 50px 0;
    position: absolute;
    z-index: 0;
    text-align: center;
}

.image img {
    width: 200px;
}

.image i {
    margin-top: 30px;
    font-size: 95px;
    color: black;
    font-weight: bolder;
}

.card-bar {
    display: inline-flex;
    margin-top: 50px;
    margin-bottom: 100px;

}

.view-card {
    width: 18rem;
    height: 367px;
    margin: 0px 20px;
    /* #1a1a1a3a */
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.lr-image img {
    width: 130px;
}

.card-mem-title {
    color: var(--dark);
    margin-top: 180px;
    font-size: 23px;
    font-weight: 1000;
}
.wog-title{
    margin-top: 0;
}
.wog-btn{
    width: 115px;
    margin: 2% 26%;
    background-color: var(--primary);
    border: 0;
}
.wog-btn:hover{
    background-color: var(--dark);
    
}
.working_card_h{
    min-height: 368px;
}
.working_card_h:hover{
    transition: all 0.3s ease-in-out;
    background-color: var(--light);
}
.working_card_h:hover .wog-title{
    transition: all 0.3s ease-in-out;
    color: var(--primary);
}
.view-card:hover .image {
    /* background-color: var(--primary); */
    background-image: linear-gradient(180deg, #1a1a1a0f, var(--primary));
    height: 367px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
    z-index: 0;
}

/* .card-body {
    text-align: center;
    position: relative;
    z-index: 2;
    height: 143px;
} */

.view-card a {
    position: relative;
    z-index: 2;
}
.card:hover .btn-div a {
    background-color: var(--dark);
    color: white;
    transition: all 0.5s ease-in-out;
}

#workfroups {
    padding-top: 50px;
    text-align: center;
}

.wg-btn {
    padding: 6px 14px;
    background-color: var(--primary);
    color: var(--dark);
    font-family: var(--font);
    font-weight: 500;
    border-radius: 8px;
}

.working-cards{
    padding: 3% 16%;
}
.working-g-1{
    width: 60%;
}

/* .bg-working-grp {
    width: 100%;
    top: 15px;
    position: absolute;
    z-index: -1;
} */

.repo-title {
    font-family: var(--font);
    font-weight: 800;
    font-size: 40px;
    color: white;
}

.recent-repo-sec {
    padding-top: 100px;
    text-align: center;
    width: 100%;
    font-family: var(--font);
    background-color: var(--dark);
}

.repo-title span {
    color: var(--primary);
    font-size: 50px;
}

.repo-pera p {
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.btn-hover1 {
    margin-bottom: 88px;
    margin-top: 30px;
    width: 230px;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark);
    cursor: pointer;
    /* margin: 20px; */
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover1:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover1:focus {
    outline: none;
}

.btn-hover1.color-81 {
    background-image: linear-gradient(to right, #c9eafd, #c9eafd, #c9eafd, var(--primary), #c9eafd, #c9eafd, #c9eafd);
    box-shadow: 0 4px 15px 0 rgba(135, 181, 237, 0.75);
}


/* members */
.members-com-sec {
    padding-top: 3%;
    width: 100%;
    text-align: center;
}

.member-title {
    font-family: var(--font);
    font-weight: 800;
    font-size: 40px;
    color: var(--dark);
}

.member-container {
    width: 100%;
    padding: 0% 10%;
    margin: 3% 0%;
}

.member-img {
    display: grid;
    /* grid-template-columns: repeat(4, 300px); */
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    row-gap: 1rem;
    column-gap: 0rem;
    align-items: center;
}

.member-img img {
    width: 100%;
}

.grid-item {
    width: 80%;
    height: 100px;
    background-color: var(--light);
    border-radius: 10px;
}

.margin {
    margin-top: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.sup-company {
    background-color: #c9eafd44;
}

.com-logo {
    margin: 0% 29%;
    padding-bottom: 5%;
    display: flex;
}

.image1:hover,
.image2:hover {
    transform: scale(1.2);
}

.com-logo img {
    width: 60%;
    /* padding: 0% 4%; */
}

.img-box {
    margin: 0% 4%;
    padding: 4%;
    width: 50%;
    background-color: #1a1a1a49;
    align-items: center;
    border-radius: 15px;
}

.footer-sec {
    text-align: center;
    width: 100%;
    background-color: var(--dark);
}

.footer-title {
    font-family: var(--font);
    font-weight: 800;
    font-size: 40px;
    color: white;
}

.footer-title span {
    color: var(--primary);
    font-size: 50px;
}

.media-card {
    display: flex;
    width: 100%;
    padding: 0px 19%;
}

.car-media {
    width: 33.333333%;
    height: 150px;
}

.car-media i {
    color: whitesmoke;
    font-size: 60px;
}

.car-media i:hover {
    color: var(--primary);
    transition: all 0.1s ease-in-out;
}

.car-media p {
    color: var(--primary);
    font-size: 16px;
    font-family: var(--font);
    font-weight: 500;
    display: none;
}

.car-media:hover p {
    color: white;
    /* transition: all 0.5s ease-in-out; */
    display: block;
    animation: text 0.5s ease;
}

@keyframes text {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1
    }
}


/* header */
.header {
    overflow: hidden;
    background-color: var(--dark);
    padding: 0px 144px;
    font-family: var(--font);
    font-weight: 300;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 65px;
}

.header .header-right a {
    float: left;
    color: white;
    text-align: center;
    padding: 7px 15px;
    margin: 0px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin: 0px 2px;
}

.header a.logo img {
    width: 75px;
    margin-top: 5px;
}

.header .header-right a:hover {
    background-color: var(--primary);
    color: black;
}

.header-right {
    float: right;
    margin-top: 13px;
}

/* @media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
} */

/* .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
} */



.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    margin-left: 75.5%;
    transition: all 1s ease-in-out;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--light);
}

.header-right i {
    display: none;
}
