<section id="about-sec" class="sec-1" onclick="menuopen(1)">
  <div class="container1">
    <table>
      <tr>
        <td class="left">
          <div class="left-side">
            <img class="left-image" src="./images/leftside-design.png" alt="" />
          </div>
          <div class="details">
            <h2>
              5G India Forum
            </h2>
            <div class="pera">
              <p class="pera-in">
                5G India Forum An industry collaborative forum, was established
                to enable synergizing the national efforts and play a
                significant role in shaping the strategic, commercial and
                regulatory development of the 5G ecosystem in India.
              </p>
            </div>
            <div>
              <a href="/aboutus#start"
                ><button class="btn-hover color-8 about-know-button">
                  KNOW MORE..!
                </button></a
              >
            </div>
          </div>
        </td>
        <td class="right">
          <div class="right-side">
            <img
              class="right-image"
              src="./images/design-rightside.svg"
              alt=""
            />
            <img class="vector-image" src="./images/5g-vector-img.png" alt="" />
          </div>
        </td>
      </tr>
    </table>
  </div>
</section>
