<section id="working-grp-sec" class="working-grp-sec" onclick="menuopen(1)">
  <div id="workfroups">
    <div class="about-title">
      <p>Working Groups</p>
    </div>
    <div class="card-bar">
      <div class="view-card">
        <div class="image">
          <img src="./images/services/5g.png" class="card-img-top" alt="..." />
        </div>
        <div class="card_body">
          <h5 class="card-mem-title">Technology & Standards</h5>
          <p class="card-text">
            Promoting 3GPP standards & 5G technology in India
          </p>
        </div>
        <div class="btn-div">
          <a href="/technology#start" class="wg-btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="view-card">
        <div class="image">
          <img src="./img/services/5g.jpg" class="card-img-top" alt="..." />
          <i class="fa fa-4x fa-signal"></i>
        </div>
        <div class="card_body">
          <h5 class="card-mem-title">Spectrum</h5>
          <p class="card-text">Group to develop spectrum studies</p>
        </div>
        <div class="btn-div">
          <a href="/spectrum#start" class="wg-btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="view-card">
        <div class="image">
          <!-- <img src="./img/services/5g.jpg" class="card-img-top" alt="..."> -->
          <i class="fa fa-4x fa-cogs wow bounceIn text"></i>
        </div>
        <div class="card_body">
          <h5 class="card-mem-title">5G for Industry</h5>
          <p class="card-text">Focused for 5G for Industry</p>
        </div>
        <div class="btn-div">
          <a href="/5gforindustry#start" class="wg-btn btn-primary"
            >Read More</a
          >
        </div>
      </div>
      <div class="view-card">
        <div class="image lr-image">
          <img src="./images/services/itu.png" class="card-img-top" alt="..." />
        </div>
        <div class="card_body">
          <h5 class="card-mem-title">ITU-R Independent Evaluation Group</h5>
          <p class="card-text">5GIF Independent Evaluation Group</p>
        </div>
        <div class="btn-div">
          <a href="/wgieg#start" class="wg-btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <img class="bg-working-grp" src="./images/background-papercut.svg" alt=""> -->
</section>
