<div class="ui  inverted vertical footer segment ">
    <div class="ui center aligned container">
        <div class="ui three column vertical divided inverted stackable grid">
            <div class="column"> Follow us
                <br>
                <div class="ui list link inverted">
                    <a target="_blank" https://twitter.com/5gindiaforum" class="item"> <i
                            class="twitter blue icon"></i>5gindiaforum</a>
                    <a target="_blank" href="https://www.linkedin.com/company/5gif" class="item"> <i
                            class="linkedin blue icon"></i>5G
                        India Forum</a>
                    <a target="_blank" href="https://github.com/5gif" class="item"> <i
                            class="github white  icon"></i>5gif</a>
                </div>
            </div>
            <div class="column">
                <h4 class="ui inverted  header">Contact</h4>
                <span class="ui inverted " style="color: rgb(68, 65, 65);">
                    Sector 2, 14, Bhai Vir Singh Marg, Sector 4, Gole Market, New Delhi, Delhi 110001
                </span>
            </div>
            <!-- <div class="column"> C </div> -->
            <div class="column">
                <h4 class="ui inverted  header"></h4>
                <span class="ui inverted " style="color: rgb(68, 65, 65);"> </span>
            </div>

        </div>
        <div class="ui inverted section divider"></div>
        5G India Forum : &copy 2023 | rev : <a
            href="https://github.com/5gif/5gif.github.io/commit/{{site.github.build_revision}} ">
            {{site.github.build_revision | truncate: 10}}
        </a>



    </div>

</div>