<div class="ui  inverted vertical footer segment ">
    <div class="ui center aligned container">
        <div class="ui three column vertical divided inverted stackable grid">
            <div class="column"> Follow us
                <br>
                <div class="ui list link inverted">
                    <a href="https://twitter.com/5gindiaforum" class="item"> <i
                            class="twitter blue icon"></i>5gindiaforum</a>
                    <a href="https://www.linkedin.com/company/5gif" class="item"> <i class="linkedin blue icon"></i>5G
                        India Forum</a>
                    <a href="github.com/5gif" class="item"> <i class="github white  icon"></i>5gif</a>

                </div>
            </div>
            <div class="column">
                <h4 class="ui inverted  header">Contact</h4>
                <span class="ui inverted " style="color: rgb(68, 65, 65);">
                    Correspondende Address ...
                </span>
            </div>
            <!-- <div class="column"> C </div> -->
            <div class="column">
                <h4 class="ui inverted  header">Footer Header</h4>
                <span class="ui inverted " style="color: rgb(68, 65, 65);"> </span>
            </div>

        </div>
        <div class="ui inverted section divider"></div>
        5G India Forum : &copy 2022  | rev : <a href="https://github.com/5gif/5gif.github.io/commit/{{site.github.build_revision}} ">
            {{site.github.build_revision  | truncate: 10}}
        </a> 
        
<small><br><i>Updated {% last_modified_at %} </i></small>
    </div>

</div>
