<div class="ui top secondary fixed inverted pointing menu navbar">
    <a class="toc item">
        <i class="sidebar icon"></i>
    </a>
    <a class="logo" href="/"><img class="ui tiny image" src="/images/5gif.png" alt="Company logo"></a>
    <div class="right item">
        <div class="ui dropdown item  ">
            About
            <i class="dropdown icon"></i>
            <div class="menu inverted" tabindex="-1">
                <div class="item">About US</div>
                <a href="/#members" class="item">Members</a>
                <a href="/#workgroup" class="item">Working Groups</a>
                <div class="divider"></div>
                <div class="item">Contact US</div>
                <div class="item">Join us</div>
            </div>
        </div>
        <a href="/#events" class="item">Events</a>
        <a href="/#whitepaper" class="item">Whitepaper</a>

        <div class="ui dropdown item  ">
            Dashboard
            <i class="dropdown  button icon"></i>
            <div class="menu " tabindex="-1">
                <a href="/tools/wrc23" class="item">WRC-23</a>
                <div class="divider"></div>
                <div class="header">ITU-R Models</div>
                <div class=" item icon ">
                    <i class="dropdown icon"></i>
                    SG3 Models
                    <div class="menu">
                        <a href="/tools/p2108" class="item">P.2108 </a>
                        <a href="/tools/p2109" class="item">P.2109 </a>
                        <a href="/tools/p452" class="item">P.452 </a>
                        <a href="/tools/p619" class="item">P.619 </a>
<!--                         <a href="/tools/sg3" class="item">SG3 </a> -->
                    </div>
                </div>
                <div class="divider"></div>
                <div class="header">Sharing Studies</div>
                <a class="item">IMT Analysis</a>
                <a class="item">IMT vs FSS</a>
            </div>
        </div>
        <a href="#" class="ui inverted button">Log in</a>
        <!-- <a class="ui inverted button">Sign Up</a> -->
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a href="/#" class="active item">About</a>
    <a href="/#events" class="item">Events</a>
    <a href="/#workgroup" class="item">Workgroups</a>
    <a href="/#members" class="item">Members</a>
    <a href="/#whitepaper" class="item">Whitepaper</a>
     <div class="header ">
            Dashboard
            <i class="dropdown  button icon"></i>

        </div>
                <div class="menu " tabindex="-1">
                <a href="/tools/wrc23" class="item">WRC-23</a>
                <div class="divider"></div>
                <div class="header">ITU-R Models</div>
                <div class=" item icon ">
                    <i class="dropdown icon"></i>
                    SG3 Models
                    <div class="menu">
                        <a href="/tools/p2108" class="item">P.2108 </a>
                        <a href="/tools/p2109" class="item">P.2109 </a>
                        <a href="/tools/p452" class="item">P.452 </a>
                        <a href="/tools/p619" class="item">P.619 </a>
<!--                         <a href="/tools/sg3" class="item">SG3 </a> -->
                    </div>
                </div>
                <div class="divider"></div>
                <div class="header">Sharing Studies</div>
                <a class="item">IMT Analysis</a>
                <a class="item">IMT vs FSS</a>
            </div>
    <a href="#" class="item">Contact</a>
</div>
