<img class="bg-image" src="./images/bg.jpg" alt="" />
<div class="header">
  <a href="/#about-sec" class="logo"
    ><img src="../images/5gif.png" alt="5GIF logo"
  /></a>

  <div class="header-right">
    <!-- <img class="mobile-menu-bar" src="/images/bars-solid.svg" alt=""> -->
    <i
      id="icon-bar"
      class="fa-solid fa-bars mobile-menu-bar"
      onclick="mobilemenu(0)"
    ></i>
    <a href="/#about-sec" onclick="menuopen(1)">About</a>
    <a href="/#event-sec" onclick="menuopen(1)">Events</a>
    <a href="/#working-grp-sec" onclick="menuopen(1)">Workgroups</a>
    <a href="/#member-sec" onclick="menuopen(1)">Members</a>
    <a href="#" onclick="menuopen(1)">LogIn</a>
    <a class="dropbtn" onclick="menuopen(0)">More+</a>
  </div>
  <div id="submenu" class="dropdown-content">
    <!-- <a href="#">###</a> -->
    <a href="/#whitepaper-sec">Whitepaper</a>
    <a href="#contact-sec">Contact</a>
  </div>
  <div id="mobile-menu" class="mobile-menu-style">
    <table collapse="0">
      <tr>
        <td>
          <a href="/#about-sec" onclick="mobilemenu(1)">About</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/#event-sec" onclick="mobilemenu(1)">Events</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/#working-grp-sec" onclick="mobilemenu(1)">Workgroups</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/#member-sec" onclick="mobilemenu(1)">Members</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/#whitepaper-sec" onclick="mobilemenu(1)">Whitepaper</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#contact-sec" onclick="mobilemenu(1)">Contact</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#" onclick="mobilemenu(1)">LogIn</a>
        </td>
      </tr>
    </table>
  </div>
</div>
