<div id="members" class="ui vertical stripe segment">
    <h1 class="ui center aligned header">Our Members</h1>
    <div class="ui container-event">
        <div class="ui link centered cards">
            <div class="ui seven cards stackable">
                <a class="blue card">
                    <div class="image">
                        <img src="./images/members/ericsson1.svg">
                    </div>
                </a>
                <a class="blue card">
                    <div class="image">
                        <img src="./images/members/huawei-1.svg">
                    </div>
                </a>
                <a class="blue card">
                    <div class="image">
                        <img src="./images/members/intel-1.svg">
                    </div>
                </a>
                <a class="blue card">
                    <div class="image">
                        <img src="./images/members/nokia.svg">
                    </div>
                </a>
                <a class="blue card">
                    <div class="image">
                        <img src="./images/members/qualcomm1.svg">
                    </div>
                </a>
                <a class="blue card">
                    <div class="image">
                        <img src="./images/members/Samsung-01.svg">
                    </div>
                </a>
                <a class="blue card">
                    <div class="image">
                        <img src="./images/members/zte.svg">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="suppport-sec" class="ui vertical stripe segment">
    <h1 class="ui center aligned header">Supported By</h1>
    <div class="ui container-event">
        <div class="ui link centered cards">
            <div class="ui two cards">
                <a class="card" href="#">
                    <div class="image">
                        <img src="./images/members/if3-1.png">
                    </div>
                </a>
                <a class="card" href="#">
                    <div class="image">
                        <img src="./images/members/coai-black1.png">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>