<div class="ui">
    <div class="ui top hidden  secondary inverted pointing menu navbar" id="stickymenu">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <a class="logo" href="/"><img class="ui image tiny " src="/images/5gif.png" alt="5GIF logo"></a>

        <div class="right item">
            <div class="ui dropdown item  ">
                About
                <i class="dropdown icon"></i>
                <div class="menu inverted" tabindex="-1">
                    <div class="item">About US</div>
                    <a href="/#members" class="item">Members</a>
                    <a href="/#workgroup" class="item">Working Groups</a>
                    <div class="divider"></div>
                    <div class="item">Contact US</div>
                    <div class="item">Join us</div>
                </div>
            </div>
            <a href="/3gpp" class="item">3GPP</a>
            <a href="/#events" class="item">Events</a>
            <a href="/#whitepaper" class="item">Whitepaper</a>

            <div class="ui dropdown item  ">
                Dashboard
                <i class="dropdown  button icon"></i>
                <div class="menu " tabindex="-1">
                    <div class="divider"></div>
                    <div class="header">ITU-R Models</div>
                    <div class=" item icon ">
                        <i class="dropdown icon"></i>
                        SG3 Models
                        <div class="menu">
                            <a href="/tools/p2108" class="item">P.2108 </a>
                            <a href="/tools/p2109" class="item">P.2109 </a>
                            <a href="/tools/p452" class="item">P.452 </a>
                            <a href="/tools/p619" class="item">P.619 </a>
                            <!--                         <a href="/tools/sg3" class="item">SG3 </a> -->
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
            <!-- <button class="ui inverted button" id="signin">Log in</button> -->
            <div class="ui dropdown icon item  ">
                <i class=" user icon"></i>
                <!-- <i class="fa-light fa-signal-slash"></i> -->

                <img class="hidden ui  image" src="/images/square-image.png" id="userdp">
                <div class=" menu">
                    <a class="item" id="loginform"> <i class="key icon"></i> Login </a>
                    <!-- <a class="item"><i class="edit icon"></i> Edit Profile</a> -->
                    <!-- <a class="item"><i class="globe icon"></i> Choose Language</a> -->
                    <a class="item"><i class="settings icon"></i> Account Settings</a>
                    <a class=" item"> <i class="sign-out icon"></i> Log Out</a>

                </div>

            </div>

            <!-- <a class="ui inverted button">Sign Up</a> -->
        </div>
    </div>
</div>