<section id="member-sec" class="members-com-sec" onclick="menuopen(1)">
    <div class="member-title">
        <p>Our Members</p>
    </div>
    <div class="member-container">
        <div class="member-img">
            <div class="grid-item"><img src="./images/members/ericsson1.svg" alt=""></div>
            <div class="grid-item"><img src="./images/members/huawei-1.svg" alt=""></div>
            <div class="grid-item"><img src="./images/members/intel-1.svg" alt=""></div>
            <div class="grid-item"><img src="./images/members/nokia.svg" alt=""></div>
            <div class="grid-item"><img src="./images/members/qualcomm1.svg" alt=""></div>
            <div class="grid-item"><img src="./images/members/Samsung-01.svg" alt=""></div>
            <div class="grid-item"><img src="./images/members/zte.svg" alt=""></div>
        </div>
    </div>



    <!-- supported company -->
    <div class="sup-company">
        <div class="member-title margin">
            <p>Supported By</p>
        </div>
        <div class="com-logo">
            <div class="img-box">
                <a href="https://indianfriendsof3gpp.org/">
                    <img class="image1" src="./images/members/if3.png" alt="">
                </a>
            </div>
            <div class="img-box">
                <a href="#">
                    <img class="image2" src="./images/members/coai-black.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>