<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
  integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI="
  crossorigin="anonymous"
></script>
<script>
  $(document).ready(function () {
    console.log("Document is ready");
    // fix menu when passed

    // $('.masthead')
    //     .visibility({
    //         once: false,
    //         onBottomPassed: function () {
    //             console.log("bottom passed");
    //             console.log("hiding...");

    //             console.log("showing...");
    //             $('#stickymenu').removeClass('hidden')
    //             $('#stickymenu').transition('fade in');
    //             // $("#menu-secondary").addClass('hidden');
    //             $("#menu-secondary").transition('fade out')
    //             // $('#stickymenu').transition('slide up');

    //         },
    //         onBottomPassedReverse: function () {
    //             console.log("bottom passed reverse")
    //             console.log("showing secondary...");
    //             $("#menu-secondary").show();
    //             console.log("hide sticky menu...");
    //             // $('#stickymenu').hide();
    //             $('#stickymenu').addClass('hidden')
    //             // $("#menu-secondary").transition('fade in');
    //             // $('#stickymenu').transition('fade out');
    //         }
    //     });

    // create sidebar and attach to menu open
    $(".ui.sidebar").sidebar("attach events", ".toc.item");
    $(".ui.dropdown").dropdown();

    // loginform
    // $(".ui.dropdown")
    $("#loginform").on("click", () => {
      $("#dlglogin").modal("show");
    });

    $(".message .close").on("click", function () {
      $(this).closest(".message").transition("fade");
    });

    $.fn.api.settings.debug = false;
    $.fn.api.settings.verbose = true;
    $.fn.api.settings.base = "http://localhost:8080";
    /* Define API endpoints once globally */
    $.extend($.fn.api.settings.api, {
      "get hexgrid": "/geom/hexgrid",
      "get hexrandu": "/geom/hexrandu",
      "get circular": "/geom/circular",
      "get annular": "/geom/annular",
      "get hexnodes": "/geom/hexrandu",
      "get followers": "/followers/{id}?results={count}",
      "create user": "/create",
      "follow user": "/follow/{id}",
      search: "/search/?query={value}",
    });

     // visa application form validations
  $(".ui.form.3gpp-visa").form({
      fields: {
        title: {
          identifier: "title",
          rules: [
            {
              type: "empty",
              prompt: "Please select your title",
            },
          ],
        },
        email: {
          identifier: "email",
          rules: [
            {
              type: "empty",
              prompt: "Please enter your email",
            },
          ],
        },
        firstName: {
          identifier: "firstName",
          rules: [
            {
              type: "empty",
              prompt: "Please enter your first name",
            },
          ],
        },
        lastName: {
          identifier: "lastName",
          rules: [
            {
              type: "empty",
              prompt: "Please enter your last name",
            },
          ],
        },
        dob: {
          identifier: "dob",
          rules: [
            {
              type: "empty",
              prompt: "Please select at least two skills",
            },
          ],
        },
        nationality: {
          identifier: "nationality",
          rules: [
            {
              type: "empty",
              prompt: "Please enter your nationality",
            },
          ],
        },
        passportNumber: {
          identifier: "passportNumber",
          rules: [
            {
              type: "empty",
              prompt: "Please enter your Passport Number",
            },
          ],
        },
        password: {
          identifier: "password",
          rules: [
            {
              type: "empty",
              prompt: "Please enter a password",
            },
          ],
        },
        passportIssuePlace: {
          identifier: "passportIssuePlace",
          rules: [
            {
              type: "empty",
              // prompt: "You must agree to the terms and conditions",
            },
          ],
        },
        passportIssueDate: {
          identifier: "passportIssueDate",
          rules: [
            {
              type: "empty",
              // prompt: "You must agree to the terms and conditions",
            },
          ],
        },
        passportValidityDate: {
          identifier: "passportValidityDate",
          rules: [
            {
              type: "empty",
              // prompt: "You must agree to the terms and conditions",
            },
          ],
        },
        representingName: {
          identifier: "representingName",
          rules: [
            {
              type: "empty",
              prompt: "Please enter your representing name",
            },
          ],
        },
        hotelName: {
          identifier: "hotelName",
          rules: [
            {
              type: "empty",
              prompt: "Please enter your representing name",
            },
          ],
        },
      },
    });

  });
</script>

<script type="module">
  // // Import the functions you need from the SDKs you need
  import {
    getApps,
    initializeApp,
  } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";

  console.log("Current apps", getApps());
  import {
    getAuth,
    onAuthStateChanged,
  } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-auth.js";

  var apps = getApps();
  console.log("Current apps", apps);
  if (apps.length > 0) {
    const auth = getAuth();
    onAuthStateChanged(auth, (user) => console.log("Script User is ", user));
  }
</script>
<script src="js/fbsignin.js" type="module"></script>
