<section id="whitepaper-sec" class="whitepaper-slider" onclick="menuopen(1)">
  <div class="event">
    <div class="about-title text-center">
      <p>whitepapers</p>
    </div>
    <div class="more-card">
      <a href="../whitepaper.html" class="fs-6 fw-normal"
        >View All<i class="fa-solid fa-arrow-right-long"></i
      ></a>
    </div>
    <div class="row row-cols-md-5 g-4">
      {% assign sortedposts = site.whitepaper | sort: 'index' | reverse %} {% for
      post in sortedposts limit:5%} {% unless post.draft==true %}
      <div class="col">
        <a href="{{post.filepath}}">
          <div class="card">

            <!-- {% if post.img %} 
              <img src="{{ post.img }}" class="card-img-top" alt="...">
              {% else %} 
              <img src="./images/default-image-event1.jpg" class="card-img-top" alt="...">
            {% endif %} -->
            <!-- <img src="{{ post.img }}" class="card-img-top" alt="..." /> -->
            <div class="card-body">
              <h5 class="card-title fw-bold">{{post.title}}</h5>
            </div>
          </div>
        </a>
      </div>
      {% endunless %} {% endfor %}
    </div>
  </div>
</section>
