<div id="workgroup" class="ui vertical stripe segment">
    <h1 class="ui center aligned header">Working Groups</h1>
    <div class="ui container-event">
        <div class="ui link centered cards">
            <div class="ui card">
                <img src="/images/services/5g1.png">
                <div class="content">
                    <center>
                        <h2 class="header primary-color">Technology & Standards</h2>
                        <h3>Promoting 3GPP standards & 5G technology in India</h3>
                    </center>
                </div>
                <center>
                    <a href="/wg-tech" class="btn-know-more">
                        <button class="ui primary button">Know More</button>
                    </a>
                </center>
            </div>
            <div class="ui card">
                <img src="/images/signal-png1.png">
                <div class="content">
                    <center>
                        <h2 class="header primary-color">Spectrum</h2>
                        <h3>Group to develop spectrum studies</h3>
                    </center>
                </div>
                <center>
                    <a href="/wg-spectrum" class="btn-know-more">
                        <button class="ui primary button">Know More</button>
                    </a>
                </center>
            </div>
            <div class="ui card">
                <img src="/images/cogs-png1.png">
                <div class="content">
                    <center>
                        <h2 class="header primary-color">5G for Industry</h2>
                        <h3>Focused for 5G for Industry</h3>
                    </center>
                </div>
                <center>
                    <a href="/wg-industry" class="btn-know-more">
                        <button class="ui primary button">Know More</button>
                    </a>
                </center>
            </div>
            <div class="ui card">
                <img src="/images/services/itu1.png">
                <div class="content">
                    <center>
                        <h2 class="header primary-color">ITU-R Independent Evaluation Group</h2>
                        <h3>5GIF Independent Evaluation Group</h3>
                    </center>
                </div>
                <center>
                    <a href="/wg-ieg" class="btn-know-more">
                        <button class="ui primary button">Know More</button>
                    </a>
                </center>
            </div>

        </div>
    </div>
</div>