<section id="working-grp-sec" class="working-grp-sec" onclick="menuopen(1)">
  <div id="workfroups">
    <div class="about-title">
      <p>Working Groups</p>
    </div>
    <div class="working-cards">
      <div class="row row-cols-md-4 g-4">
        <div class="col wg-width" >
          <div class="card working_card_h" style="height: 100%;">
            <img
              src="/images/services/5g.png"
              class="card-img-top mx-auto working-g-1"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title fw-bold wog-title">
                Technology & Standards
              </h5>
              <p class="card-text">
                Promoting 3GPP standards & 5G technology in India
              </p>
            </div>
            <a href="/technology#start">
              <button type="button" class="btn btn-primary wog-btn">
                Know More
              </button></a
            >
          </div>
        </div>
        <div class="col wg-width">
          <div class="card working_card_h">
            <img
              src="/images/signal-png.png"
              class="card-img-top mx-auto working-g-1"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title fw-bold wog-title">Spectrum</h5>
              <p class="card-text">Group to develop spectrum studies</p>
            </div>
            <a href="/spectrum#start">
              <button type="button" class="btn btn-primary wog-btn">
                Know More
              </button></a
            >
          </div>
        </div>
        <div class="col wg-width">
          <div class="card working_card_h">
            <img
              src="/images/cogs-png.png"
              class="card-img-top mx-auto working-g-1"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title fw-bold wog-title">5G for Industry</h5>
              <p class="card-text">Focused for 5G for Industry</p>
            </div>
            <a href="/5gforindustry#start">
              <button type="button" class="btn btn-primary wog-btn">
                Know More
              </button></a
            >
          </div>
        </div>
        <div class="col wg-width">
          <div class="card working_card_h">
            <img
              src="/images/services/itu.png"
              class="card-img-top mx-auto working-g-1"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title fw-bold wog-title">
                ITU-R Independent Evaluation Group
              </h5>
              <p class="card-text">5GIF Independent Evaluation Group</p>
            </div>
            <a href="/wgieg#start">
              <button type="button" class="btn btn-primary wog-btn">
                Know More
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <img class="bg-working-grp" src="./images/background-papercut.svg" alt=""> -->
</section>
