<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <script src="https://www.google.com/recaptcha/api.js?render=6Ld0ENAlAAAAAM8nZ4oz4EO4kwevOv2c_it2EAdU"></script>
  <script type="module" src="/js/3GPP-2023.js"></script>

  <body id="page-top">
    {% include header.html %}

    <div class="pusher">
      <div class="ui vertical aligned">
        {% include menus.html %}
        <div class="ui container">
          <div class="mt-30 mb-20">
            <button id="fetch-btn" class="ui positive button">
              Fetch records
            </button>
          </div>
          <div class="ui negative message display-none" id="fetch-error">
            <i class="close icon"></i>
            <div class="header" id="fetch-error-msg"></div>
          </div>
          <div class="ui cards" id="record-container"></div>
          <br />
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
  {% include script.html %}
  <script type="module">
    import { getApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
    import {
      getDatabase,
      ref,
      push,
      set,
      serverTimestamp,
      get,
      remove,
    } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-database.js";
    import {
      getFirestore,
      collection,
      doc,
      FieldValue,
    } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-firestore.js";
    console.log("FieldValue", FieldValue);
    document.getElementById("fetch-btn").onclick = () => {
      const errorWrapper = document.getElementById("fetch-error");
      const defaultApp = getApp();
      const db = getDatabase(defaultApp);
      const dbRef = ref(db, `/forms`);
      get(dbRef)
        .then((snapshot) => {
          if (snapshot.exists()) {
            errorWrapper.classList.add("display-none");
            // console.log("pppppp",snapshot.val());
            const val = snapshot.val();
            const container = document.getElementById("record-container");
            for (let doc in val) {
              // console.log("doccc", val[doc]);
              const obj = val[doc];
              const div = document.createElement("div");
              div.className = `ui raised card`;
              div.id = doc;
              div.innerHTML = `
                    <div class="content">
                      <div class="${obj.isPhysicalCopyRequired ? "ui red header" : "header"}">${
                        obj.title + " " + obj.firstName + " " + obj.lastName
                      }</div>
                      <div class="meta">${obj.representingName ? obj.representingName : "UNKNOWN"}</div>
                      <div class="description">
                        <div class="ui list">
                          <div class="item">
                            <b>Email</b>: ${obj.email}
                          </div>
                          <div class="item">
                            <b>Meetings: </b> ${obj.meetings.join(", ")}
                          </div>
                          <div class="item">
                            <b>Passport: </b>${obj.passportNumber}, ${obj.passportIssuePlace}
                          </div>
                          <div class="item">
                            <b>Hotel Name: </b>${obj.hotelName}
                          </div>
                          <div class="item">
                            <div class="header">Remarks</div>
                            ${obj.notes}
                          </div>
                      </div>
                      </div>
                    </div>
                    <div class="extra content">
                      <div class="buttons">
                        <button id="spam" data-id="${doc}" class="ui tiny red button">Spam</button>
                        <button id="incomplete" data-id="${doc}" class="ui tiny yellow button">Incomplete</button>
                        <button id="approve" data-id="${doc}" class="ui tiny green button">Approve</button>
                      </div>
                    </div>`;
              container.appendChild(div);
            }
          } else {
            console.log("No data available");
          }
        })
        .catch((error) => {
          console.error(error);
          errorWrapper.classList.remove("display-none");
          document.getElementById("fetch-error-msg").innerHTML = error;
        });
    };

    document.addEventListener("click", function (e) {
      const approveTarget = e.target.closest("#approve");
      const incompleteTarget = e.target.closest("#incomplete");
      const spamTarget = e.target.closest("#spam");
      if (approveTarget || spamTarget || incompleteTarget) {
        const target = approveTarget || spamTarget || incompleteTarget;
        const defaultApp = getApp();
        const db = getDatabase(defaultApp);
        const key = target.getAttribute("data-id");
        const dbRef = ref(db, `/forms/${key}`);

        let url;
        if (incompleteTarget) url = "incomplete";
        if (approveTarget) url = "approved";
        if (spamTarget) url = "spam";

        const countDBRef = ref(db, `/3GPPTSG101/stats/${url}`);
        let countValue = 0;
        get(countDBRef).then((snapshot) => {
          countValue = snapshot.val() + 1;
        });
        get(dbRef)
          .then(async (snapshot) => {
            if (snapshot.exists()) {
              const targetDBRef = ref(db, `/3GPPTSG101/${url}/${key}`);
              set(targetDBRef, snapshot.val())
                .then((val) => {
                  remove(dbRef).then(async () => {
                    set(countDBRef, countValue++);
                  });
                  const element = document.getElementById(key);
                  element.remove();
                })
                .catch((err) => {
                  console.log("write error", err);
                });
              // }
            } else {
              console.log("No data available");
            }
          })
          .catch((error) => {
            console.error(error);
          });
      }
    });
  </script>
</html>
