<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body id="page-top">
  {% include header.html %}
  <div class="pusher">
    <div class="ui vertical aligned ">
      {% include menus.html %}

      <div class="ui main container">
        <div class="ui piled segment  ">
          <img class="ui medium fluid image" src="{{ page.img }}">
          <h1 class="ui header">{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  </div>
  {% include footer.html %}
</body>
{% include script.html %}

</html>