<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    
    {% include header.html %}
    <!-- include about-section.html -->
    <div class="pusher">
        <div class="ui vertical aligned backgroung-image">
            <!-- menus.html removed ==== -->
            {% include menus.html %}
 
           <!-- <div class="ui text home-texts masthead upcoming-wrapper">
            <h1 class="blink_me">Upcoming event</h1>
            <h2>National Conference on 6G Spectrum, Technology and Standardization by ITU</h2>
                <a target="_blank" href="https://www.itu-apt.org/event/registration/1678694901" class="button ui inverted primary">
                    Click to register
                    </a>
                    <a target="_blank" href="/events/5gif-iafi-6Gworkshop.html" class="button ui inverted red">
                        Know more
                        </a>
           </div> -->
           <div class="ui text home-texts masthead " style="background-color: rgba(0, 0, 0, 0.678);">
            <h1 class="ui header inverted">
                About us
            </h1>
            <div class="ui class divider"></div>
            <p>
                5G India Forum is an industry collaborative forum, was established to enable synergizing the
                national efforts and play a significant role in shaping the strategic, commercial and regulatory
                development of the 5G ecosystem in India.
            </p>
            <div class="ui massive button teal inverted">Know More..!</div>
            <br>

        </div>


        </div>

        {% include events.html %}
        {% include whitepapers.html %}
        {% include workgroups.html %}
        {% include members.html %}
    </div>

    {% include footer.html %}
    </div>
</body>
{% include script.html %}
<script>
console.log("{{ site.bannerimage }}");
</script>
</html>
