<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}
    <!-- include about-section.html -->
    <div class="pusher">
        <div class="ui vertical "
            style="   background-repeat: no-repeat;background-position: left; background-size: contain;   width: 100%;; align-content: center;">
            {% include menus.html %}
            <div class="ui text home-texts masthead">
                <h1 class="ui header">
                    5G India Forum
                </h1>
                <div class="description">
                    <h3>5G India Forum An industry collaborative forum, was established to enable synergizing the
                        national efforts and play a
                        significant role in shaping the strategic, commercial and regulatory development of the 5G
                        ecosystem in India.</h3>
                </div>
                <div class="ui big button btn-hover">Know More..!</div>
            </div>

        </div>

        {% include events.html %}
        {% include whitepapers.html %}
        {% include workgroups.html %}
        {% include members.html %}
    </div>

    {% include footer.html %}
    </div>
</body>
{% include script.html %}

</html>