<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}
    <!-- include about-section.html -->
    <div class="pusher">
        <div class="ui vertical "
            style="   background-repeat: no-repeat;background-position: left; background-size: contain;   width: 100%;; align-content: center;">
            {% include menus.html %}
            <!-- <div class="ui masthead segment ui center align centered backgroung-image " style="	  background-repeat: no-repeat;
                background-position: center; background-size: contain;   width: 100%;; align-content: center;"> -->
            <!-- <img class="ui small " src="images/event4.png" alt=""> -->
            <!-- </div>
                    
                
            <div class="ui text  masthead background-image" style="background-color: aqua;"> -->
            <!-- <div class="blur"> -->
            <!-- <div> -->
            <!-- home-texts  -->
            <div class="ui text basic segment masthead  " style="margin-top:80px;padding: 10px;">
                <div class="ui two column stackable  grid ">

                    <div class="ui vertical divider"></div>
                    <div class="column image5if" style="font-family: 'Open Sans', sans-serif;font-size: medium;">
                        <h1 class="ui header">
                            5G India Forum
                        </h1>

                        <div class="description">
                            <h3>An industry collaborative forum established to enable synergizing the national efforts
                                and
                                play
                                a significant role in shaping the strategic, commercial and regulatory development of
                                the 5G
                                ecosystem in India.</h3>

                        </div>
                        <div class="ui divider"></div>
                        <div class="ui red  button ">Know More..!</div>
                    </div>

                    <div class="column " style="font-family: 'Open Sans', sans-serif;font-size: medium;">

                        <a href="/events/5gif-iafi-6Gworkshop.html" style="display: block;background-color:#2a0f56; margin-left: auto;
                        margin-right: auto;text-align: center">
                            <img class="ui" src="/events/6GeventApril2023.png"
                                style="max-height: 400px; align-self: center; ">
                            </img>
                        </a>
                        <a class=" ui red button " target="_blank"
                            href="https://nationconferenceon6gspectrumtechnologies.itu-apt.org/index.html">Register..!</a>

                        <h1>Upcoming Event</h1>
                        <p>
                            5GIF is co-hosting with the ITU-APT Foundation of India (IAFI) a National conference on 6G
                            Spectrum, Technologies, and Standardization by the ITU.

                        </p>

                        <!-- <img class="ui"
                            style="background-image: url('images/event4.png');background-size: contain; background-repeat: no-repeat;width: 100%;height: 80%;">
                        </img> -->

                    </div>

                </div>
                <!-- </div> -->

                <!-- </div> -->

            </div>
            {% include events.html %}
            {% include whitepapers.html %}
            {% include workgroups.html %}
            {% include members.html %}
        </div>

        {% include footer.html %}
    </div>
</body>
{% include script.html %}

</html>