<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include header.html %}

  <section class="no-gutters" id="start">
    <div class="container2">
      <!-- <div class="row">
        <div class="col-lg-8 col-lg-offset-2"> -->
      <!-- <a target=_blank href="{{ site.github.repository_url }}/edit/{{site.github.source.branch}}/{{ page.path }}"> <i
          class="fa fa-edit fa-sm"> </i> </a> -->
      <h1 class="title-p"> {{ page.title }} </h1>
      <hr class="light">
      </br>
      {{ content }}

      <!-- 
        </div>
      </div> -->
    </div>
  </section>



  {% include footer.html %}

</body>
{% include script.html %}

</html>