<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
<!--   {% include header.html %} -->

  <section class="no-gutters" id="start">


    <div class="container">
      
      https://github.com/5gif/5gif.github.io/edit/main/pages/wgieg.md
      Page.Name is {{ page.name }}
      </br> Page.Path is {{ page.path }}
      
      <!-- <div class="row">
        <div class="col-lg-8 col-lg-offset-2"> -->
      <h2> {{ page.title }} <a href="{{ page.editlink }}">  <i class="fa fa-edit fa-sm"> </i>  </a> </h2>
          <!-- <hr class="light"> -->
        </br>
          {{ content }}

<!-- 
        </div>
      </div> -->
    </div>
  </section>



  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
